@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Press+Start+2P&display=swap');

* {
	margin: 0px;
}

html {
	font-family: 'Press Start 2P', cursive;
	font-family: 'Kdam Thmor Pro', sans-serif;
	font-size: 24px;
	color: white;
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #02090D;
}

nav {
	height: 2rem;
	padding: 0px;
	margin: opx;
	background-color: #02090D;
	display: flex;
	justify-content: space-between;
}

#logo {
	height: 1.6rem;
	aspect-ratio: 1/1;
	margin: 0.2rem;
	border-radius: 6px;
}

nav span {
	color: #F2A922
}

nav div {
	display: flex;
	align-items: center;
}

nav a {
	font-size: 0.8rem;
	color: #F2A922;
	text-decoration: none;
	margin: 1rem;
	float: right;
}

nav a:hover {
	transition-duration: 0.5s;
	text-decoration: underline;
}

header {
	background-color: #02090D;
	margin-top: 0px;
	height: 68vh;
}

header img {
	float: right;
	height: 80%;
	width: auto;
	padding: 7vh;
}

header h1 {
	font-size: 32px;
	color: #F28705;
	padding: 7vh 0px 4vh 7vh;
}

header p {
	font-size: 18px;
	padding-left: 7vh;
}

header button {
	background-color: #F28705; 
	border: none;
	border-radius: 5px 1rem 1rem 5px;
	box-shadow: 0px 0px #E04225;
	height: 1.8rem;
	width: 4rem;
	margin: 7vh 0px 0px 23vh;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

header button:hover {
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0.2,0.8,2);
	transform: translateX(2vh);
	box-shadow: -9vh 0px #E0531A;
}

h2 {
	text-align: center;
	color: #02090D;
	font-size: 1rem;
	padding: 10px;
	border-radius: 25px 25px 0px 0px;
}

ul {
	list-style: none;
	padding: 0px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	border-radius: 0px 0px -25px -25px;
}

h2, ul {
	background-color: #F28705;
}

#characters li {
	display: inline;
	padding: 0px;
}

#characters li div {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 14vw;
}

#characters li div img {
	border: 0px solid white;
	border-radius: 3px;
}

#characters li div img:hover {
	animation: spin 1.5s cubic-bezier(.55,.12,.44,.86) 0s;
	-webkit-animation: spin 1.5s cubic-bezier(.55,.12,.44,.86) 0s;
	-moz-animation: spin 1.5s cubic-bezier(.55,.12,.44,.86) 0s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
}

@keyframes spin {
	from{
		transform: rotate(0deg) scale(1.04);
	} 25% {
		transform: rotate(9deg) scale(1.04);
	} 75% {
		transform: rotate(-9deg) scale(1.04);
	} to {
		transform: rotate(0deg) scale(1.04);
	}
}

@-webkit-keyframes spin{
	from{
		transform: rotate(0deg) scale(1.04);
	} 25% {
		transform: rotate(9deg) scale(1.04);
	} 75% {
		transform: rotate(-9deg) scale(1.04);
	} to {
		transform: rotate(0deg) scale(1.04);
	}
}

@-moz-keyframes spin {
	from{
		transform: rotate(0deg) scale(1.04);
	} 25% {
		transform: rotate(9deg) scale(1.04);
	} 75% {
		transform: rotate(-9deg) scale(1.04);
	} to {
		transform: rotate(0deg) scale(1.04);
	}
}

#characters li div span{
	padding-top: 10px;
	padding-bottom: 15px;
}

figure {
	background-color: white;
	height: 8rem;
}

blockquote, figcaption {
	color: #62696D;
}

blockquote {
	padding: 5vh 22vw 2vh 22vw;
	font-style: italic;
}

figcaption {
	float: right;
	margin-right: 22vw;
}

#invite {
	background-color: white;
	padding: 2vh;
}

#invite-card {
	background-color: #02090D;
	margin: 2vh 16vw;
	padding: 3vh;
	border-radius: 2vh;
	box-shadow: 0px 5px 8px 1px #CCC;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#invite-card button {
	font-size: 0.75rem;
	aspect-ratio: 3/1;
	border: none;
	border-radius: 5px;
	height: 2em;
	float: right;
	background-color: white;
	display: inline;
	margin-left: 1rem;
}

#invite-card button:hover {
	transition-duration: 0.1s;
	background-color: #CCC;
}

#invite-card div h5 {
	font-size: 1.5rem;
}

#invite-card div span {
	font-size: 0.8rem;

}

footer {
	text-align: center;
}

footer span {
	font-size: 0.7rem;
	font-family: none;
	padding: 0.5em;
}